body {
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  background-color:black;
  overflow-x: hidden;
}



#loader { 
  border: 12px solid #f3f3f3; 
  border-radius: 50%; 
  border-top: 12px solid #444444; 
  width: 70px; 
  height: 70px; 
  animation: spin 1s linear infinite; 
} 

@keyframes spin { 
  100% { 
      transform: rotate(360deg); 
  } 
} 

.center { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin: auto; 
} 


.container{
  width:100%;
  height:100vh;
  overflow:hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(restaurantbackgroung-image.jpg);
  background-attachment: fixed;
  }


  .parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index:999;
  }


nav{
display:flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: 15px 50px;
overflow-x: hidden;
z-index:999;
font-family: 'Montserrat', sans-serif;
}

nav.white{
  background: rgba(255,255,255,0.5);
  padding: 5px 50px;
  }

.logo{
  text-decoration: none;
  color: white;
  font-size: 27px;
  word-spacing: 6px;
  font-family:lovelyn;
  }

  nav.white .logo{
    color: black;
    }

  .nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    }
    
    .nav-ul li a {
    display: inline-block;
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
    }

    nav.white .nav-ul li a{
      color: black;
      padding: 0px 20px;
    line-height: 50px;
      }

    .nav-ul li a:hover{
      color: blueviolet;
      }

      nav.white .nav-ul li a:hover{
        color: blueviolet;
      }

    .hamburger{
      background: transparent;
      border:0;
      display: none;
      color:#fff;
      cursor: pointer;
      font-size: 20px;
      }
      
      .hamburger:focus{
      outline: none;
      }
      nav.white .hamburger{
        color: black;
      }  


  .box{
  margin: 0 auto;
  width: 50%;
  padding-top:170px;
  }

.container h1{
  font-size: 45px;
  color:white;
  font-family:lovelyn;
  font-weight: 900;
  z-index: 9;
}

.container h2{
  color:white;
  font-family:lovelyn;
  font-weight: 900;
  z-index: 9;
}

.container h3{
  color:white;
  font-family:lovelyn;
  font-weight: 900;
  z-index: 9;
  font-size: 20px;
}





form{
  z-index: 3;
  padding-top: 20px;
   
 }
 
 .button{
   display: inline-block;
   background: black;
   color: white;
   padding: 15px 24px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   cursor: pointer;
   width:150px;
   height:50px;
   border-radius: 30px;
  
 }

 .button:hover {
  background-color: #ddd;
  color: black;
}


  .container2{
   position:relative;
   width: 100%;
   height:80vh;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
 
    }

    .container2 h1{
      text-align:center;
      font-size:4rem;
      font-family: lovelyn;
      font-style: italic;
      font-weight: 600;
      padding:20px;
      margin:15px;
      z-index: 1;
    }

    .video-container{
     position:absolute;
     top:0;
     left:0;
     width:100%;
     background-position: center center;
    }


  .container3{
    background-color: #d9d9d9;
    width:100%;
    height:auto;
    padding-top: 20px;
    padding-bottom: 80px;
 
    }
  .container3 h1{
    text-align: center;
    font-size: 50px;
    color:black;
    padding-top:60px;
    font-family:lovelyn;
    font-style: italic;
    font-weight: 900;
    width: 80%;
    margin: 0 auto;
  }

  .container3 p{
    text-align: center;
    font-size: 30px;
    color:black;
    font-family:lovelyn;
    font-style: italic;
    font-weight: 900;
    line-height:1.6;
    width: 80%;
    margin: 0 auto;
  }

  .container4{
    background-color: black;
    width:100%;
    height:50vh;
    padding-top:40px;
    
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.img1{
  width:100%;
  height:50vh;
}

.img2{
  width:100%;
  height:50vh;
}

.container5{
  width:100%;
  margin:80px auto;
  overflow-x: hidden;
  padding:0 60px;
  background-color:black;
  color:white;
}


.title{
  text-align:center;
  margin-bottom:60px;
}
.title h4{
  text-transform:capitalize;
  font-size:36px;
  position:relative;
  display:inline-block;
  padding-bottom:10px;
}

.title h4 span{
  display:block;
  font-size:18px;
  font-style:italic;
  margin-bottom:10px;
} 


.title h4:before{
  position:absolute;
  content:"";
  width:300px;
  height:2px;
  background-color:white;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
}

.menu{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.single-menu{
  flex-basis:580px;
  margin-bottom:40px;
  padding-bottom:40px;
  border-bottom:1px solid #ddd;
}

.single-menu:nth-child(5), .single-menu:nth-child(6){
  border-bottom:0;
}
.single-menu{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.single-menu:hover img{
  border-radius:0;
}
.single-menu img{
  max-width:180px;
  margin-right:30px;
  border-radius:50%;
  border:1px solid #ddd;
  padding:3px;
  transition:.5s;
}
.single-menu h4{
  text-transform:capitalize;
  font-size:22px;
  border-bottom:2px groove #333;
  margin-bottom:5px;
  padding-bottom:5px;
}
.single-menu h4 span{
  float:right;
  color:#85bb65;
  font-style:italic;
}

.container6{
  width:100%;
  height:50vh;
  padding-bottom:40px;
  background-color:rgba(0,0,0,.5)
 }

 .mySlides {
 display:none;
 width:100%;
 height:50vh;
 }

 .container7{
    background-color: #d9d9d9;
    width:100%;
    height:auto;
    padding-top: 20px;
    padding-bottom:80px;
 }

 .container7 h2{
  font-size: 40px;
  color:black;
  padding-top:60px;
  font-family:lovelyn;
  font-style: italic;
  font-weight: 900;
  width:80%;
  margin: 0 auto;
 }

 .container7 a{
  color:gray;
  text-decoration:none;
 }

 .container7 a:hover{
  color:black;
 }

 

 .container8{
    color:black;
    width:100%;
    padding: 20px;
 }

 .container8 h2{
  text-align:center;
  word-spacing:30px;
  padding:1px;
}

.container8 a{
  color:white;
  text-decoration:none;  
}

.container8 a:hover{
  color: #ddd;
}

footer{
  text-align:center;
  font-size:15px;
  background-color:#d9d9d9;
  color:black;
  width:100%;
  height: 40px;
  padding: 10px;
 
}

@media(max-width: 1040px){
.container{
height: auto;
padding-bottom: 80px;
}

  .container2 h1{
    font-size:55px;
  }  

  .container3 h1{
    font-size:40px;
}


@media(max-width: 900px){
  nav{
    background: rgba(0, 0, 0, 0.4);
     }
 
   .nav-ul{
   display:none;
   flex-direction: column;
   width:100%;
   }
 
   .nav-ul.show{
   display: flex;
   }
 
   .hamburger{
   display: block;
   }


  .container h1{
    font-size:40px;
  }

  .box p{
    font-size:28px;
  }

.container2 h1{
  font-size:50px;
}
}


@media screen and (max-width: 768px) {
  .nav-ul{
    display:none;
    flex-direction: column;
    width:100%;
    }
  
    .nav-ul.show{
    display: flex;
    }
  
    .hamburger{
    display: block;
    }

  .container h1{
    font-size: 30px;
  }

  .container .box{
   width: 70%;
    }


  .container3 h1{
  font-size:40px;
  }
  
  .container3 p{
  font-size:25px;
  }
  
  .container7 h2 {
  font-size:35px;
  }
  
  
  }

